h1{
	color: white;
	font-size: 300%;
	font-family: sans-serif;

}
body{
	background: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFubmVyJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
	background-size: cover;
	font-family:sans-serif;
}
h2{
	color: yellow;
	font-size: 250%;
	font-family: sans-serif;
}
p{
	font-size: 150%;
	color: #03F58E;
	padding-left: 2em;

}
a{
	color: red;
	font-size: 150%;
	
}

